/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html, body { padding: 0; margin: 0; }
#container { width: 900px; margin: 0 auto; position: relative; }
#header { text-indent: -3000px; position: absolute; height: 0; }

#sign { }
#sign img { width: 100%; }

.score { position: absolute; top: 300px; text-align: center; opacity: 0.8; background-color: #000; width: 100px; color: #fff; font-size: 32pt; font-family: courier, fixed, fixed-width; text-align: right; color: #f42;}
.score a { }
#true-score { left: 90px; }
#false-score { right: 90px; }

#voting-booth { width: 75%; position: absolute; top: 460px; left: 100px; }
#voting-booth img { width: 100%; border: 3px solid black; }
#voting-booth a { position: absolute; padding: 60px; background: transparent; border: 3px solid black;}
#voting-booth a:hover { opacity: 0.6; }
#voting-booth #true-button a { top: 135px; left: 185px; padding: 55px 60px; }
#voting-booth #true-button a:hover { background-color: #0f0; }
#voting-booth #false-button a { top: 140px; right: 150px; padding: 55px 65px; }
#voting-booth #false-button a:hover { background-color: #f00; }

#comments-wrapper { margin: 0 auto; clear: both; margin-top: 350px; margin-left: 200px;  }
#comments { min-height: 200px; background-color: #fff; }

