<!DOCTYPE html>
<html>
<head>
  <title>Capitalism Works For Me!</title>
  <%#= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

  <div id="header"><h1>Capitalism Works For Me!</h1></div>

  <div id="loading"></div>

  <%= yield %>

  <h3><a href="http://visitsteve.com/made/capitalism-works-for-me-truefalse/">Photos, tour info, and more information here</a> (visitsteve.com)</h3>

</div>

</body>
</html>
